.a-page-heading {
  align-items: center;
  border: 1px $color-gray solid;
  color: $color-gray;
  display: inline-flex;
  font-size: 26px;
  font-weight: bold;
  height: 100%;
  padding-left: 26px;
  padding-bottom: 6px;
  width: 100%;
  letter-spacing: 5.5px;
}
