.a-label {
  $root: &;

  cursor: pointer;

  &--gray {
    display: inline-flex;
    align-items: center;
    height: 41px;
    min-width: 117px;
    border-radius: 20px 0 0 20px;
    background: $color-gray;
    padding: 15px 8px 15px 18px;
    box-shadow: 10px 10px 15px 0px $color-gray;
  }

  &__first-icon {
    font-size: 30px;
    margin-right: 20px;
  }

  &__label-name {
    font-size: 24px;
    color: $color-gray;
    font-weight: bold;

    #{$root}--gray & {
      font-size: 13px;
      color: $color-white;
      flex: 0 0 66px;
    }
  }

  &__second-icon {
    font-size: 25px;
    flex: 0 0 25px;
  }
}
